.App {
  text-align: center;
  width: 50%;
  margin: auto;
}
.Todo-List {
  margin-top: 20px;
}
.ListItem {
  width: 100%;
  text-align: left;
}
.Edit-Name {
  width: 90%;
}
.Complete-Checkbox {
  margin-right: 10px;
}
.Delete-Button {
  margin-left: 20px;
}